In [1]:
import numpy as np

In [2]:
list_1 = [10,20,30]
type(list_1)

list

In [3]:
np_array=np.array(list_1)
type(np_array)

numpy.ndarray

In [4]:
type(np_array.dtype)

numpy.dtype[int64]

In [5]:
np_array.shape

(3,)

In [6]:
np.zeros((2,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

# Series

In [7]:
import pandas as pd

In [8]:
my_list=[10,20,30]

In [9]:
srs=pd.Series(my_list)

In [10]:
srs

0    10
1    20
2    30
dtype: int64

In [11]:
type(srs)

pandas.core.series.Series

In [12]:
srs.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
srs.values

array([10, 20, 30])

In [14]:
srs_array=srs.values

In [15]:
srs_array

array([10, 20, 30])

In [16]:
srs

0    10
1    20
2    30
dtype: int64

In [17]:
srs_new=pd.Series(srs,index=['a','b','c'])

In [18]:
srs_new

a   NaN
b   NaN
c   NaN
dtype: float64

In [19]:
list_new=[33,22,11]
index=['a','b','c']
series_new=pd.Series(list_new,index=index)

In [20]:
series_new

a    33
b    22
c    11
dtype: int64

In [21]:
series_new.index

Index(['a', 'b', 'c'], dtype='object')

# DataFrames in Pandas

In [22]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],
               index=['a','b','c'],columns=['x','y','z'])

In [23]:
df

   x  y  z
a  1  2  3
b  4  5  6
c  7  8  9

In [24]:
print('Shape :',df.shape)

Shape : (3, 3)

In [25]:
df.index

Index(['a', 'b', 'c'], dtype='object')

In [26]:
df.columns

Index(['x', 'y', 'z'], dtype='object')

# The Weather Dataset: Reading DataFrames from Files

In [27]:
weather_df=pd.read_csv('data/weather_2012.csv')

In [28]:
weather_df.shape

(8784, 8)

In [29]:
weather_df.index

RangeIndex(start=0, stop=8784, step=1)

In [30]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [31]:
weather_df['Date/Time'].head()

0    2012-01-01 00:00:00
1    2012-01-01 01:00:00
2    2012-01-01 02:00:00
3    2012-01-01 03:00:00
4    2012-01-01 04:00:00
Name: Date/Time, dtype: object

In [32]:
type(weather_df['Date/Time'].head())

pandas.core.series.Series

In [33]:
type(weather_df)

pandas.core.frame.DataFrame

# Convert Date/Time column datatype from object to timestamp so that we can access the month directly

In [34]:
weather_df['Date/Time']=pd.to_datetime(weather_df['Date/Time'])

In [35]:
weather_df['Date/Time']

0      2012-01-01 00:00:00
1      2012-01-01 01:00:00
2      2012-01-01 02:00:00
3      2012-01-01 03:00:00
4      2012-01-01 04:00:00
               ...
8779   2012-12-31 19:00:00
8780   2012-12-31 20:00:00
8781   2012-12-31 21:00:00
8782   2012-12-31 22:00:00
8783   2012-12-31 23:00:00
Name: Date/Time, Length: 8784, dtype: datetime64[ns]

In [36]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   datetime64[ns]
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 549.1+ KB

In [37]:
weather_df.index

RangeIndex(start=0, stop=8784, step=1)

In [38]:
weather_df['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [39]:
len(weather_df['Wind Spd (km/h)'].unique())

34

In [40]:
weather_df['Wind Spd (km/h)'].nunique()

34

In [41]:
weather_df['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: Weather, dtype: int64

In [42]:
# Number of time when the weather was exactly clear
weather_df['Weather']

0                        Fog
1                        Fog
2       Freezing Drizzle,Fog
3       Freezing Drizzle,Fog
4                        Fog
                ...
8779                    Snow
8780                    Snow
8781                    Snow
8782                    Snow
8783                    Snow
Name: Weather, Length: 8784, dtype: object

In [43]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [44]:
weather_df['Weather'].value_counts()['Clear']

1326

In [45]:
weather_df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [46]:
(weather_df['Weather'].value_counts()['Clear'])

1326

# Data Manupulation : Gets you desired results

In [47]:
col=weather_df['Weather']
print(type(col))

<class 'pandas.core.series.Series'>

In [48]:
col.head()

0                     Fog
1                     Fog
2    Freezing Drizzle,Fog
3    Freezing Drizzle,Fog
4                     Fog
Name: Weather, dtype: object

In [49]:
two_cols=weather_df[['Weather','Temp (C)']]
two_cols.head()

                Weather  Temp (C)
0                   Fog      -1.8
1                   Fog      -1.8
2  Freezing Drizzle,Fog      -1.8
3  Freezing Drizzle,Fog      -1.5
4                   Fog      -1.5

In [50]:
type(two_cols)

pandas.core.frame.DataFrame

Get the first 25 rows from the 'weather_df' dataframe

In [51]:
weather_df[:25]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,Fog
10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,Fog
11,2012-01-01 11:00:00,-0.5,-2.1,89,7,4.0,100.98,Fog
12,2012-01-01 12:00:00,-0.2,-2.0,88,9,4.8,100.79,Fog
13,2012-01-01 13:00:00,0.2,-1.7,87,13,4.8,100.58,Fog
14,2012-01-01 14:00:00,0.8,-1.1,87,20,4.8,100.31,Fog
15,2012-01-01 15:00:00,1.8,-0.4,85,22,6.4,100.07,Fog
16,2012-01-01 16:00:00,2.6,-0.2,82,13,12.9,99.93,Mostly Cloudy
17,2012-01-01 17:00:00,3.0,0.0,81,13,16.1,99.81,Cloudy
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,Rain
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,Rain
20,2012-01-01 20:00:00,3.2,1.3,87,19,25.0,99.50,Cloudy
21,2012-01-01 21:00:00,4.0,1.7,85,20,25.0,99.39,Cloudy
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,Rain Showers
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers

In [52]:
weather_df[:10:2][['Visibility (km)','Weather']]

   Visibility (km)               Weather
0              8.0                   Fog
2              4.0  Freezing Drizzle,Fog
4              4.8                   Fog
6              6.4                   Fog
8              8.0                   Fog

In [53]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [54]:
weather_df[['Temp (C)','Visibility (km)']].loc[0:5]

   Temp (C)  Visibility (km)
0      -1.8              8.0
1      -1.8              8.0
2      -1.8              4.0
3      -1.5              4.0
4      -1.5              4.8
5      -1.4              6.4

In [55]:
weather_df[['Temp (C)','Visibility (km)']].iloc[0:5]

   Temp (C)  Visibility (km)
0      -1.8              8.0
1      -1.8              8.0
2      -1.8              4.0
3      -1.5              4.0
4      -1.5              4.8

In [56]:
weather_df[['Visibility (km)','Rel Hum (%)']].iloc[:6:2]

   Visibility (km)  Rel Hum (%)
0              8.0           86
2              4.0           89
4              4.8           88

# Find all instances when snow was recorded

In [57]:
snow_filter=weather_df['Weather'].str.lower().str.contains('snow')

In [61]:
snow_filter

0       False
1       False
2       False
3       False
4       False
        ...
8779     True
8780     True
8781     True
8782     True
8783     True
Name: Weather, Length: 8784, dtype: bool

In [66]:
weather_df['Weather'].iloc[875]

'Cloudy'

In [60]:
weather_df['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [67]:
weather_df[snow_filter]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
41,2012-01-02 17:00:00,-2.1,-9.5,57,22,25.0,99.66,Snow Showers
44,2012-01-02 20:00:00,-5.6,-13.4,54,24,25.0,100.07,Snow Showers
45,2012-01-02 21:00:00,-5.8,-12.8,58,26,25.0,100.15,Snow Showers
47,2012-01-02 23:00:00,-7.4,-14.1,59,17,19.3,100.27,Snow Showers
48,2012-01-03 00:00:00,-9.0,-16.0,57,28,25.0,100.35,Snow Showers
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

## Find all instances when wind speed was above 24 and visibility was 25

In [69]:
df=weather_df[(weather_df['Wind Spd (km/h)']>24)&(weather_df['Visibility (km)']==25)]

In [70]:
df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
...,...,...,...,...,...,...,...,...
8705,2012-12-28 17:00:00,-8.6,-12.0,76,26,25.0,101.34,Mainly Clear
8753,2012-12-30 17:00:00,-12.1,-15.8,74,28,25.0,101.26,Mainly Clear
8755,2012-12-30 19:00:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
8759,2012-12-30 23:00:00,-12.1,-15.1,78,28,25.0,101.52,Mostly Cloudy
8760,2012-12-31 00:00:00,-11.1,-14.4,77,26,25.0,101.51,Cloudy

## .apply()

In [71]:
def to_upper(val):
    return val.upper()

In [73]:
weather_df['upper_case_weather']=weather_df['Weather'].apply(to_upper)

In [74]:
weather_df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,upper_case_weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,FOG
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,FOG
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog","FREEZING DRIZZLE,FOG"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog","FREEZING DRIZZLE,FOG"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,FOG
...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow,SNOW
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow,SNOW
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow,SNOW
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow,SNOW
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow,SNOW

In [75]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,upper_case_weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,FOG
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,FOG
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog","FREEZING DRIZZLE,FOG"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog","FREEZING DRIZZLE,FOG"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,FOG

In [80]:
weather_df=weather_df.drop(labels=['upper_case_weather'],axis=1)

KeyError: "['upper_case_weather'] not found in axis"

In [79]:
weather_df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [81]:
sorted_value_counts=weather_df['Temp (C)'].value_counts().sort_values(ascending=False)

In [83]:
sorted_value_counts.iloc[:10]

16.6    65
1.1     58
0.8     47
1.5     45
19.3    44
21.1    43
2.6     43
0.4     41
1.3     40
14.6    39
Name: Temp (C), dtype: int64

# Working with datetime

In [84]:
df=pd.DataFrame({'date':['3/10/2000','3/11/2000','3/12/2000'],
                'value':[1,2,3]})

In [85]:
df

        date  value
0  3/10/2000      1
1  3/11/2000      2
2  3/12/2000      3

In [86]:
df['date']=pd.to_datetime(df['date'])

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      datetime64[ns]
 1   value   3 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 176.0 bytes

In [88]:
df

        date  value
0 2000-03-10      1
1 2000-03-11      2
2 2000-03-12      3

In [89]:
df2=pd.DataFrame({'date':['12/12/12','11/11/11','10/10/10'],
                 'value':[1,2,3]})
df2

       date  value
0  12/12/12      1
1  11/11/11      2
2  10/10/10      3

In [90]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      object
 1   value   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [95]:
df2['date']=pd.to_datetime(df2['date'],dayfirst=True)

In [96]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      datetime64[ns]
 1   value   3 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 176.0 bytes

In [97]:
df2

        date  value
0 2012-12-12      1
1 2011-11-11      2
2 2010-10-10      3

In [98]:
df2['date']=pd.to_datetime(df2['date'],format='%Y-%m-%d')

In [99]:
df2

        date  value
0 2012-12-12      1
1 2011-11-11      2
2 2010-10-10      3

In [100]:
df3=pd.DataFrame({'date':['1/1/2022','2/3/2023','a/5/2022'],
                 'value':[1,2,3]})

In [102]:
df3

       date  value
0  1/1/2022      1
1  2/3/2023      2
2  a/5/2022      3

In [103]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      object
 1   value   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [104]:
df3['date']=pd.to_datetime(df3['date'])

ParserError: Unknown string format: a/5/2022 present at position 2

In [105]:
df3['date']=pd.to_datetime(df3['date'],errors='coerce')

In [106]:
df3

        date  value
0 2022-01-01      1
1 2023-02-03      2
2        NaT      3

In [111]:
df4=pd.DataFrame({'year':[2014,2022],'month':[3,6],'day':[12,25]})

In [112]:
df4

   year  month  day
0  2014      3   12
1  2022      6   25

In [114]:
df4['date']=pd.to_datetime(df4)

In [115]:
df4

   year  month  day       date
0  2014      3   12 2014-03-12
1  2022      6   25 2022-06-25

In [128]:
df5=pd.DataFrame({'name':['Minhaz','Kritika'],'dob':['20-10-1997','10-1-1998']})

In [129]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2 non-null      object
 1   dob     2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes

In [130]:
df5['dob']=pd.to_datetime(df5['dob'],dayfirst=True)

In [131]:
df5

      name        dob
0   Minhaz 1997-10-20
1  Kritika 1998-01-10

In [132]:
df5['year']=df5['dob'].dt.year

In [133]:
df5

      name        dob  year
0   Minhaz 1997-10-20  1997
1  Kritika 1998-01-10  1998

In [134]:
df5['month']=df5['dob'].dt.month

In [135]:
df5['day']=df5['dob'].dt.day

In [136]:
df5

      name        dob  year  month  day
0   Minhaz 1997-10-20  1997     10   20
1  Kritika 1998-01-10  1998      1   10

In [137]:
day_mapping={
    0:'Monday',
    1:'Tuesday',
    2:'Wednesday',
    3:'Thursday',
    4:'Friday',
    5:'Saturday',
    6:'Sunday'
}

In [138]:
day_mapping

{0: 'Monday',
 1: 'Tuesday',
 2: 'Wednesday',
 3: 'Thursday',
 4: 'Friday',
 5: 'Saturday',
 6: 'Sunday'}

In [141]:
df5['day_of_week']=df5['dob'].dt.weekday.map(day_mapping)

In [142]:
df5

      name        dob  year  month  day day_of_week
0   Minhaz 1997-10-20  1997     10   20      Monday
1  Kritika 1998-01-10  1998      1   10    Saturday